<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wd.Scrapy.Dao.CatalogueMapper" >
  <resultMap id="BaseResultMap" type="com.wd.Scrapy.Enity.Catalogue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="book_id" property="bookId" jdbcType="INTEGER" />
    <result column="origin_url" property="origin_url" jdbcType="VARCHAR" />
    <result column="catalogue" property="catalogue" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, book_id, origin_url,catalogue, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from catalogue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from catalogue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wd.Scrapy.Enity.Catalogue" 
   keyProperty="id" 
  useGeneratedKeys="true" >
    insert into catalogue ( book_id,origin_url, catalogue, 
      create_time, update_time)
    values ( #{bookId,jdbcType=INTEGER}, #{origin_url,jdbcType=VARCHAR},
    #{catalogue,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wd.Scrapy.Enity.Catalogue" >
    insert into catalogue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
       <if test="origin_url != null" >
        origin_url,
      </if>
      <if test="catalogue != null" >
        catalogue,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="origin_url != null" >
        #{origin_url,jdbcType=VARCHAR},
      </if>
      <if test="catalogue != null" >
        #{catalogue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wd.Scrapy.Enity.Catalogue" >
    update catalogue
    <set >
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
       <if test="origin_url != null" >
        origin_url = #{origin_url,jdbcType=VARCHAR},
      </if>
      <if test="catalogue != null" >
        catalogue = #{catalogue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wd.Scrapy.Enity.Catalogue" >
    update catalogue
    set book_id = #{bookId,jdbcType=INTEGER},
      origin_url = #{origin_url,jdbcType=VARCHAR},
      catalogue = #{catalogue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>